<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/Style.css">

</head>
<body ng-app="">
<div ng-include="'main.js'"></div>

<div ng-include="'template1.html'"></div>

<div  style="display: inline" ng-include="'template2.html'"></div>
<div  style="display: inline" ng-include="'template3.html'"></div>
<div  style="display: inline" ng-include="'template4.html'"></div>
<div style="display: inline"  ng-include="'template5.html'"></div>

</body>
</html>